<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- esto es app.component.html -->

  <!-- Aca se imprime el contenido de las paginas-->
  <router-outlet></router-outlet>
  <h1>
    Welcome to {{ title }}!
  </h1>
 


  <p>Soy un párrafo dentro de app.component</p>
  <app-titulo [titulo]="titulo1"
  [subtitulo] = "subtitulo1"
  ></app-titulo>
  <img src="assets/sami.jpg" alt="Gatito">
  <app-titulo
  [titulo]="titulo2"
  [subtitulo] = "subtitulo2"
  ></app-titulo>
</div>


