/* You can add global styles to this file, and also import other style files */
@import 'css/breakpoints';

$red: #900;

body{
    background-color: $red;
    color: beige;
    @media (max-with: $m768) {
        background-color: orange;
    }
}